.about-us-section2{
    margin-top: 20px
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-us-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 18px 24px;
}

.about-us-text h2{
    color: var(--font-primary-color);
    font-size: var(--font-size-head);
    margin-bottom: 20px;
    margin-top: 0;
    font-family: var( --font-secondary);
}
.about-us-text h5{
    color: var(--font-primary-color);
    font-size: var( --font-size-large);
    margin-bottom: 10px;
    font-family: var( --font-secondary);
}
.about-us-text p{
    color: var(--font-primary-color);
    font-size: var( --font-size-large);
}
.about-us-pic{
    height: auto;
    border-radius: 10px;
    overflow: hidden;

}
.about-us-pic img{
    width: 100%;
    height: 100%;
}
.about-us-content2{
    width: 45%;
    margin-top: 20px;
}
.about-us-content2 h2{
    color: var(--font-primary-color);
    font-size: var( --font-size-head);
    margin-bottom: 20px;
    font-family: var(--font-secondary);
}
.about-us-content2 p{
    color: var(--font-primary-color);
    font-size: var( --font-size-large);
    font-family: var(--font-secondary);
}

