.contact-section{
    background-color: var(--nav-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 50px;
}
.contact-section h2 {
    font-size: var(--font-size-head);
    margin: auto;
  
}

.contact-box {
    display: flex;
    padding: 50px;
    border-radius: 10px;
    justify-content: top;
    align-items: top;
    
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;

}

.contact-form label {
  font-size: var(--font-size-large);
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    margin-top: 0px;
    border-radius: 8px;
    border: 1px solid var(--font-secondary-color);
    transition: all 0.3s ease;
}
.contact-form input:hover,
.contact-form textarea:hover {
    border: 1px solid var(--btn-primary-bg);
}
.contact-form textarea {
  height: 200px;
}
.contact-form :placeholder-shown{
    font-size: var(--font-size-small);
}
.contact-form button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: black;
    color: var(--font-highlight-color);
    cursor: pointer;
   transition: all 0.5s ease;
   
}
.contact-form button:hover {
    background: var(--btn-hover);

}  

.map {
    flex: 1;
}

.map iframe {
    width: 100%;
    height: 440px;
    border-radius: 10px;
    border: none;
}

.social {
    text-align: center;
    margin-top: -108px;
    margin-left: 560px;
}

.social span {
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
    
}
.social i{
    color: var(--font-primary-color);
    transition: all 0.3s ease;
    
}
.social i:hover {
    color: var(--btn-hover);
    
}

.nothing {
    height: 100px;
    background-color: pink;
}