.back-btn {
    margin-top: 80px;
    margin-bottom: 20px;
}

.back-btn a {
    text-decoration: none;
    color: var(--font-primary-color)         ;
    font-size: 16px;
    font-weight: 400;
}

.contact-section {
    margin-bottom: 30px;
    background-color: var(--nav-bg-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.contact-section h2 {
    color: var(--font-primary-color);
    font-size: var(--font-size-head);
    text-align: center;
    margin-bottom: 40px;
}

.contact-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 24px;
    padding: 0px 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    color: var(--font-primary-color);
    font-size: var(--font-size-body);
    margin: 15px 0 8px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border-radius: 8px;
    background-color: var(--nav-bg-color);
    border: 1px solid var(--font-primary-color);
    transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    
    border-color: var(--btn-primary-bg);
}

.contact-form ::placeholder {
    color: var(--font-primary-color);
}

.contact-form textarea {
    height: 180px;
    resize: none;
    color: var(--font-primary-color);
}

.contact-form button {
    margin-top: 25px;
    padding: 14px;
    border-radius: 8px;
    border: none;
    background: var(--btn-primary-bg);
    color: var(--font-highlight-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form button:hover {
    background: var(--btn-hover);
}

.map iframe {
    width: 100%;
    height: 100%;
    min-height: 440px;
    border-radius: 10px;
    border: none;
}

.nothing {
    height: 70px;
}


