
.back-btn {
    margin-top: 80px;
}

.back-btn a {
    text-decoration: none;
    color: var(--font-primary-color)         ;
    font-size: 16px;
    font-weight: 400;
}

/* Filter container */
.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Buttons */
.filter-btn {
    background-color: var(--btn-secondary-bg);
    color: var(--font-primary-color);
    border: 1px solid var(--border-color);
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}

.filter-btn:hover {
    background-color: var(--btn-hover);
    color: var(--font-highlight-color);
    border-color: var(--btn-hover);
}

.filter-btn.active {
    background-color: var(--btn-primary-bg);
    color: var(--font-highlight-color);
    border-color: var(--btn-primary-bg);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 30px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.page-btn {
    background-color: var(--btn-secondary-bg);
    color: var(--font-primary-color);
    border: 1px solid var(--border-color);
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: 500;
}

.page-btn:hover {
    background-color: var(--btn-hover);
    color: var(--font-highlight-color);
    border-color: var(--btn-hover);
}

.page-btn.active {
    background-color: var(--btn-primary-bg);
    color: var(--font-highlight-color);
    border-color: var(--btn-primary-bg);
}

.page-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--card-secondary-color);
    color: var(--font-secondary-color);
    border-color: var(--border-color);
}

