.hero-section {
    width: 100%;
    height: 100vh;
    margin-top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    color: var(--ftitle);
    font-size: 48px;
    text-align: center;
}

.hero-text input {
    width: 100%;
    max-width: 680px;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding: 0 24px;
    font-size: 14px;
}

.hero-text a {
    margin-top: 20px;
    text-decoration: none;
    color: var(--font-highlight-color);
    background-color: var(--btn-primary-bg);
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
    transition: all 0.2s ease;
}

.hero-text i {
    font-size: 12px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: var(--font-highlight-color);
    border: 2px solid var(--font-highlight-color);
}

.hero-text a:hover {
    background-color: var(--btn-hover);
}




/* category-section */
.category-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-section h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 50px;
    color: var(--font-primary-color);
}

.category-content {
    width: var(--maxw);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-bottom: 38px;
}

.category-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    transition: transform 0.2s ease;
}

.category-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.category-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
    transition: transform 0.2s ease, filter 0.2s ease;
}

.category-item h1 {
    margin-top: 16px;
    font-size: 26px;
    color: var(--font-primary-color);
}

.category-item:hover img {
    transform: scale(1.05);
    filter: brightness(95%);
}





/* products-section */
.feature-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.feature-content {
    width: var(--maxw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-section h1 {
    text-align: center;
    margin-bottom: 38px;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* display: flex; */
    gap: 50px;
}

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 25px;
}

.button-content a {
    text-decoration: none;
    padding: 10px 30px;
    color: var(--font-highlight-color);
    background-color: var(--btn-primary-bg);
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
    transition: all 0.2s ease;
}

.button-content i {
    font-size: 12px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: var(--font-highlight-color);
    border: 2px solid var(--font-highlight-color);
}

.button-content a:hover {
    background-color: var(--btn-hover);
}

.discount-section {
    width: var(--maxw);
    height: 480px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount-section img {
    width: 100%;
    height: auto;
}





/* unique-section */
.unique-section {
    max-width: var(--maxw);
    background-color: var(--card-primary-color);
    margin: 0 auto;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 20px;
}

.unique-content {
    width: var(--maxw);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 12px;
    margin-bottom: 32px;
}

.top-unique {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.top-unique h1 {
    font-size: 34px;
    color: var(--font-primary-color);
    text-align: left;
    margin-left: 32px;
}

.button-unique {
    display: flex;
    justify-content: left;
    gap: 24px;
    margin-top: 10px;
    margin-left: 32px;
}

.image-side {
    width: 40%;
    height: 400px;
}

.image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.text-side {
    width: 55%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.text-side h1 {
    margin: 0;
    font-size: 32px;
    color: var(--font-primary-color);
    margin-top: 46px;
    margin-bottom: 4px;
}

.text-side p {
    font-size: 21px;
    color: var(--font-primary-color);
    margin-bottom: 24px;
}

.text-side a {
    text-decoration: none;
    width: 30%;
    font-size: 18px;
    margin-top: 12px;
    padding: 14px 24px;
    border-radius: 50px;
    color: var(--font-primary-color);
    border: 2px solid var(--font-primary-color);
    transition: all 0.2s ease;
}

.text-side a i {
    font-size: 12px;
    margin-left: 10px;
    padding: 6px;
    border-radius: 50%;
    color: var(--font-primary-color);
    border: 2px solid var(--font-primary-color);
}

.text-side a:hover {
    background-color: var(--btn-hover);
    border: 2px solid var(--btn-hover);
}





/* subscribe-section */
.subscribe-section {
    width: var(--maxw);
    height: 300px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 0px;
}

.subscribe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subscribe-content h1 {
    font-size: 32px;
    color: var(--font-primary-color);
}

.subscribe-content p {
    font-size: 16px;
    color: var(--font-primary-color);
    margin: 0;
    margin-bottom: 20px;
}

.subscribe-form {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-form input {
    width: 800px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 0 20px;
    font-size: 14px;
    outline: none;
}

.subscribe-form button {
    margin-left: -60px;
    height: 50px;
    padding: 0 25px;
    border-radius: 50px;
    border: none;
    background-color: var(--btn-primary-bg);
    color: var(--font-highlight-color);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.subscribe-form button:hover {
    background-color: var(--btn-hover);
}





/* testimonial-section */
.testimonial-section {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimonial-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
    color: var(--font-primary-color);
}

.testimonial-wrapper {
    width: var(--maxw);
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}

.testimonial-card {
    background: var(--card-primary-color);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-5px);
}

.testimonial-text {
    font-size: 15px;
    line-height: 1.7;
    color: var(--font-primary-color);
    margin-bottom: 25px;
}

.testimonial-user {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
}

.testimonial-user img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-user h4 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
    color: var(--font-primary-color);
}

.testimonial-user span {
    font-size: 13px;
    color: var(--font-primary-color);
}

