.back-btn {
    margin-top: 100px;
}

.back-btn a {
    text-decoration: none;
    color: var(--font-primary-color);
    font-size: 16px;
    font-weight: 400;
}

.testimonial-hero {
    padding: 20px 20px 40px;
    text-align: center;
}

.testimonial-hero h1 {
    font-size: 42px;
    color: var(--font-primary-color);
    margin-bottom: 15px;
}

.testimonial-hero p {
    max-width: 600px;
    margin: auto;
    font-size: 16px;
    color: var(--font-primary-color);
}

.subscribe-form {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-form input {
    width: 800px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 0 20px;
    font-size: 14px;
    outline: none;
}

.subscribe-form button {
    margin-left: -60px;
    height: 50px;
    padding: 0 25px;
    border-radius: 50px;
    border: none;
    background-color: var(--btn-primary-bg);
    color: var(--font-highlight-color);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.subscribe-form button:hover {
    background-color: var(--btn-hover);
}

.testimonial-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
    color: var(--font-primary-color);
}



.testimonial-wrapper {
    width: 100%;
    max-width: var(--maxw);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 35px;
}

.testimonial-card {
    background: var(--card-primary-color);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-5px);
}

.testimonial-text {
    font-size: 15px;
    line-height: 1.7;
    color: var(--font-primary-color);
    margin-bottom: 25px;
}

.testimonial-user {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
}

.testimonial-user img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-user h4 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
    color: var(--font-primary-color);
}

.testimonial-user span {
    font-size: 13px;
    color: var(--font-primary-color);
}





@media (max-width: 768px) {
    .back-btn {
        padding: 0px 20px;
    }
    .testimonial-hero h1 {
        font-size: 36px;
        color: var(--font-primary-color);
        margin-bottom: 15px;
    }

    .testimonial-hero p {
        margin: auto;
        font-size: 16px;
        color: var(--font-primary-color);
    }

    .subscribe-form {
        flex-direction: column;
    }

    .subscribe-form input {
        width: 95%;
        max-width: 100%;
        height: 45px;
        font-size: 14px;
        padding: 0 15px;
        border-radius: 50px;
    }

    .subscribe-form button {
        margin-top: 10px;
        margin-left: 0;
        width: 95%;
        height: 45px;
        font-size: 14px;
        border-radius: 50px;
    }


    .testimonial-page {
        padding: 0px 16px;
    }
}
